@media only screen and (min-width: 1024px) {
  :root {
    /* Padding */
    --xPadding: 5em;
  }

  .navbar {
    padding: 1em var(--xPadding);
  }

  .introduction-block,
  .purchase-content,
  .feedback-block,
  .faq-block {
    padding: 4em var(--xPadding);
  }

  /* ------------------------ Components ------------------------ */

  /* ------------------------ Header ------------------------ */
  .navbar {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
  }

  .nav-message {
    padding: 0.4em 0;
  }

  .nav-message > h5 {
    font-size: 0.7em;
  }

  .nav-brand > img {
    width: 10em;
  }

  .nav-links a {
    font-size: 1em;
  }

  .order-btn {
    font-size: 0.85em;
    padding: 0.8em 3em;
  }

  /* ------------------------ Main ------------------------ */
  /* Introduction Block */
  .introduction-content {
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    gap: 0 20px;
  }

  .introduction-header > h1 {
    font-size: 3em;
  }

  .introduction-header > img {
    width: 7em;
  }

  .content:first-of-type > * {
    margin: 1em 0;
  }

  .content:first-of-type > p {
    font-size: 1.4em;
    width: 40em;
  }

  .product-desc {
    padding: 1em;
    width: 55em;
    height: 10em;
  }

  .desc {
    line-height: 2;
  }

  .desc > img {
    margin-bottom: 1em;
  }

  .desc > h4 {
    font-size: 1em;
  }

  .desc li {
    font-size: 0.8em;
  }

  .desc-border {
    height: 10em;
    margin: 0 2.5em;
  }

  .get-product-btn {
    padding: 1em 5em;
    font-size: 1.2em;
  }

  .informational-message {
    width: 15em;
    padding: 0.5em;
    font-size: 0.9em;
  }

  .intro-product {
    width: 80%;
  }

  .customer-review {
    padding: 0.8em;
    width: 35em;
  }

  .customer-review > img {
    width: 4.5em;
    height: 4.5em;
    margin-right: 1em;
  }

  .review > p {
    font-size: 0.85em;
    width: 30em;
    margin-bottom: 0.5em;
  }

  .marks > .stars {
    margin-right: 0.8em;
  }

  .marks > .stars img {
    width: 0.8em;
    height: 0.8em;
  }

  .marks > .stars p {
    font-size: 0.7em;
    margin-left: 0.5em;
  }

  .marks > .buyer-stats img {
    width: 1em;
    height: 1em;
  }

  .marks > .buyer-stats p {
    font-size: 0.8em;
    margin-left: 0.3em;
  }

  /* Purchase Product Block */
  .purchase-header {
    padding: 1em 0;
  }

  .purchase-header > div {
    margin: 0 1em;
  }

  .purchase-header > div > div {
    padding: 0.6em;
    margin-right: 0.5em;
  }

  .purchase-card-img {
    bottom: 2.2em;
    width: 20em;
    height: 8em;
    margin: 0;
  }

  .purchase-content > h1 {
    font-size: 2.3em;
  }

  .purchase-product-cards {
    margin-top: 2.5em;
  }

  .purchase-card {
    width: 25em;
    margin-right: 4em;
    padding: 1em;
  }

  .purchase-card:last-of-type {
    margin-right: 0;
  }

  .purchase-card > * {
    margin: 0.4em 0;
  }

  .product-review {
    padding: 0.5em 1em;
    font-size: 0.8em;
  }

  .card-rounded-icon {
    right: 3em;
    top: 8em;
  }

  .purchase-card > h2 {
    font-size: 1.9em;
  }

  .purchase-card > h3 {
    font-size: 1.7em;
  }

  .purchase-card p {
    font-size: 0.95em;
  }

  s {
    margin-left: 0.5em;
  }

  .afterpay {
    padding: 0.1em 0.5em;
    margin-left: 0.2em;
  }

  .big-sale {
    padding-bottom: 0.6em;
  }

  .big-sale > div {
    margin-bottom: 0.6em;
  }

  .big-sale > div > div {
    padding: 0.6em;
  }

  .big-sale > div > p {
    margin-left: 0.6em;
  }

  .get-your-magic-btn {
    padding: 1em 0;
    font-size: 1.05em;
  }

  /* Feedback Block */
  .feedback-header > h1 {
    font-size: 2.3em;
  }

  .feedback-total {
    margin: 2em 0;
  }

  .write-review-btn {
    padding: 0.5em 1em;
    font-size: 1em;
  }

  .feedback-card {
    width: 23em;
    margin-right: 2em;
  }

  .feedback-card:last-of-type {
    margin-right: 0;
  }

  .feedback-total > .stars img {
    width: 1.1em;
    height: 1.1em;
  }

  .feedback-total > .stars p {
    margin-left: 0.8em;
    font-size: 1em;
  }

  .feedback-card-body {
    padding: 0.8em 1em;
  }

  .feedback-stats > .stars img {
    width: 0.9em;
    height: 0.9em;
  }

  .feedback-stats > .stars p {
    font-size: 0.8em;
  }

  .feedback-stats > .buyer-stats img {
    width: 1.2em;
    height: 1.2em;
  }

  .feedback-stats > .buyer-stats p {
    font-size: 0.9em;
    margin-left: 0.5em;
  }

  .feedback-text {
    font-size: 1.05em;
    margin-top: 0.5em;
  }

  /* ------------------------ Footer ------------------------ */
  .faq-header > h1 {
    font-size: 2.3em;
  }

  .faq-content {
    margin-top: 3em;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
  }

  .faq-img img {
    width: 30em;
    height: 20em;
  }

  .faq-accordion {
    margin-left: 5em;
  }

  .faq-accordion > div > * {
    margin-bottom: 1em;
  }

  .faq-accordion > div > :last-of-type {
    margin-bottom: 0;
  }

  .accordion {
    width: 50em;
  }

  .accordion-header,
  .activate-accordion .accordion-content {
    padding: 1.1em;
  }

  .activate-accordion .accordion-content {
    height: auto !important;
  }

  .see-all p {
    margin-right: 1em;
  }
}
