@media only screen and (min-width: 1024px) {
  :root {
    /* Padding */
    --xPadding: 5em;
  }

  .navbar {
    padding: 1em var(--xPadding);
  }

  .introduction-block,
  .purchase-content,
  .feedback-block,
  .faq-block {
    padding: 5em var(--xPadding);
  }

  /* ------------------------ Header ------------------------ */
  .nav-message > h5 {
    font-size: 0.7em;
  }

  .nav-message {
    padding: 0.4em 0;
  }

  .navbar {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
  }

  .nav-brand > img {
    width: 10em;
  }

  .nav-links a {
    font-size: 1em;
  }

  .order-btn {
    font-size: 0.85em;
    padding: 0.8em 3em;
  }

  /* ------------------------ Main ------------------------ */
  /* Introduction Block */
  .introduction-content {
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    column-gap: 20px;
  }

  .introduction-header > h1 {
    font-size: 3em;
  }

  .introduction-header > img {
    width: 7em;
  }

  .content:first-of-type > * {
    margin: 1em 0;
  }

  .content:first-of-type > p {
    font-size: 1.4em;
    width: 40em;
  }

  .product-desc {
    padding: 1em;
    width: 55em;
    height: 10em;
  }

  .desc {
    line-height: 2;
  }

  .desc > img {
    margin-bottom: 1em;
  }

  .desc > h4 {
    font-size: 1em;
  }

  .desc li {
    font-size: 0.8em;
  }

  .desc-border {
    height: 10em;
    margin: 0 2.5em;
  }

  .get-product-btn {
    padding: 1em 5em;
    font-size: 1.2em;
  }

  .informational-message {
    width: 15em;
    padding: 0.5em;
    font-size: 0.9em;
  }

  .intro-product {
    width: 80%;
  }

  .customer-review {
    padding: 0.8em;
    margin-top: 2em;
    width: 35em;
  }

  .customer-review > img {
    width: 4.5em;
    height: 4.5em;
    margin-right: 1em;
  }

  .review > p {
    font-size: 0.85em;
    width: 30em;
    margin-bottom: 0.5em;
  }

  .marks > .stars {
    margin-right: 0.8em;
  }

  .marks > .stars img {
    width: 0.8em;
    height: 0.8em;
  }

  .marks > .stars p {
    font-size: 0.7em;
    margin-left: 0.5em;
  }

  .marks > .buyer-stats img {
    width: 1em;
    height: 1em;
  }

  .marks > .buyer-stats p {
    font-size: 0.8em;
    margin-left: 0.3em;
  }

  /* Purchase Product Block */
  .purchase-header {
    padding: 1em 0;
  }

  .purchase-header > div {
    margin: 0 1em;
  }

  .purchase-header > div > div {
    width: 3.5em;
    height: 3.5em;
    margin-right: 0.5em;
  }

  .purchase-content > h1 {
    font-size: 2.3em;
  }

  .purchase-product-cards {
    margin-top: 2.5em;
  }

  .purchase-card {
    width: 25em;
    margin-right: 4em;
    padding: 1em;
  }

  .purchase-card:last-of-type {
    margin-right: 0;
  }

  .purchase-card > * {
    margin: 0.4em 0;
  }

  .purchase-card-img {
    bottom: 2.2em;
    width: 65%;
    height: 8em;
    margin: 0;
  }

  .product-review {
    padding: 0.5em 1em;
    font-size: 0.8em;
  }

  .card-rounded-icon {
    right: 3em;
    top: 8em;
  }

  .purchase-card > h2 {
    font-size: 1.9em;
  }

  .purchase-card > h3 {
    font-size: 1.7em;
  }

  .purchase-card p {
    font-size: 0.95em;
  }

  s {
    margin-left: 0.5em;
  }

  .afterpay {
    padding: 0.1em 0.5em;
    margin-left: 0.2em;
  }

  .big-sale {
    padding-bottom: 0.6em;
  }

  .big-sale > div {
    margin-bottom: 0.6em;
  }

  .big-sale > div > div {
    padding: 0.6em;
  }

  .big-sale > div > p {
    margin-left: 0.6em;
  }

  .get-your-magic-btn {
    padding: 1em 0;
    margin: 0.8em 0;
    font-size: 1.05em;
  }

  /* Feedback Block */
  .feedback-header > h1 {
    font-size: 2.3em;
  }

  .feedback-total {
    margin: 2em 0;
  }

  .write-review-btn {
    padding: 0.5em 1em;
    font-size: 1em;
  }

  .feedback-card {
    width: 23em;
    margin-right: 2em;
  }

  .feedback-card:last-of-type {
    margin-right: 0;
  }

  .feedback-total > .stars img {
    width: 1.1em;
    height: 1.1em;
  }

  .feedback-total > .stars p {
    margin-left: 0.8em;
    font-size: 1em;
  }

  .feedback-card-body {
    padding: 0.8em 1em;
  }

  .feedback-stats > .stars img {
    width: 0.9em;
    height: 0.9em;
  }

  .feedback-stats > .stars p {
    font-size: 0.8em;
  }

  .feedback-stats > .buyer-stats img {
    width: 1.2em;
    height: 1.2em;
  }

  .feedback-stats > .buyer-stats p {
    font-size: 0.9em;
    margin-left: 0.5em;
  }

  .feedback-text {
    font-size: 1.05em;
    margin-top: 0.5em;
  }

  /* ------------------------ Footer ------------------------ */
  .faq-header > h1 {
    font-size: 2.3em;
  }

  .faq-content {
    height: 25em;
    margin-top: 3em;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
  }

  .faq-img img {
    width: 30em;
    height: 20em;
  }

  .faq-accordion {
    margin-left: 5em;
  }

  .faq-accordion > div > * {
    margin-bottom: 1em;
  }

  .faq-accordion > div > :last-of-type {
    margin-bottom: 0;
  }

  .accordion {
    width: 50em;
  }

  .accordion p {
    font-size: 1em;
  }

  .accordion-header,
  .activate-accordion .accordion-content {
    padding: 1.1em;
  }

  .activate-accordion .accordion-content {
    height: auto !important;
  }

  .see-all p {
    margin-right: 1em;
  }

  /* Desktop Screen Size Below 1735px */
  @media only screen and (max-width: 1735px) {
    /* ------------------------ Main ------------------------ */
    /* Introduction Block */
    .introduction-content {
      column-gap: 40px;
    }

    .introduction-header > h1 {
      font-size: 2.7em;
    }

    .content:first-of-type > p {
      font-size: 1.3em;
    }

    .product-desc {
      padding: 0.9em;
      width: 50em;
    }

    .desc > h4 {
      font-size: 0.9em;
    }

    .desc li {
      font-size: 0.7em;
    }

    .get-product-btn {
      padding: 1em 4em;
      font-size: 1.1em;
    }

    .intro-product {
      width: 65%;
    }

    .customer-review {
      width: 30em;
    }

    .review > p {
      font-size: 0.8em;
      width: 100%;
    }

    /* Purchase Product Block */
    .purchase-card {
      width: 23em;
      margin-right: 3em;
      padding: 1em;
    }

    .purchase-card > h2 {
      font-size: 1.8em;
    }

    .purchase-card > h3 {
      font-size: 1.6em;
    }

    .purchase-card p {
      font-size: 0.9em;
    }

    /* Feedback Block */
    .feedback-card {
      width: 21em;
      margin-right: 1.5em;
    }
  }

  /* Desktop Screen Size Below 1630px */
  @media only screen and (max-width: 1630px) {
    :root {
      /* Padding */
      --xPadding: 6em;
    }

    .navbar {
      padding: 0.8em var(--xPadding);
    }

    .introduction-block,
    .purchase-content,
    .feedback-block,
    .faq-block {
      padding: 5em var(--xPadding);
    }

    /* ------------------------ Header ------------------------ */
    .nav-brand > img {
      width: 9em;
    }

    .nav-links a {
      font-size: 0.9em;
    }

    .order-btn {
      font-size: 0.8em;
      padding: 0.7em 2.5em;
    }

    /* ------------------------ Main ------------------------ */
    /* Feedback Block */
    .feedback-card {
      width: 20em;
    }

    /* ------------------------ Footer ------------------------ */
    .accordion {
      width: 45em;
    }
  }

  /* Desktop Screen Size Below 1580px */
  @media only screen and (max-width: 1580px) {
    /* ------------------------ Main ------------------------ */
    /* Introduction Block */
    .introduction-content {
      column-gap: 40px;
    }

    .introduction-header > h1 {
      font-size: 2.4em;
    }

    .introduction-header > img {
      width: 5.5em;
    }

    .content:first-of-type > p {
      font-size: 1.1em;
    }

    .product-desc {
      padding: 0.9em;
      width: 45em;
      height: 8em;
    }

    .desc > h4 {
      font-size: 0.85em;
    }

    .desc li {
      font-size: 0.7em;
    }

    .desc-border {
      height: 8em;
      margin: 0 1.8em;
    }
  }

  /* Desktop Screen Size Below 1551px */
  @media only screen and (max-width: 1551px) {
    /* ------------------------ Main ------------------------ */
    /* Feedback Block */
    .feedback-card {
      width: 19em;
      margin-right: 1.3em;
    }
  }

  /* Desktop Screen Size Below 1500px */
  @media only screen and (max-width: 1500px) {
    :root {
      /* Padding */
      --xPadding: 4em;
    }

    .navbar {
      padding: 0.8em var(--xPadding);
    }

    .introduction-block,
    .purchase-content,
    .feedback-block,
    .faq-block {
      padding: 5em var(--xPadding);
    }

    /* ------------------------ Main ------------------------ */
    /* Purchase Product Block */
    .purchase-card {
      width: 21em;
      margin-right: 2em;
    }

    .purchase-card > h2 {
      font-size: 1.7em;
    }

    .purchase-card > h3 {
      font-size: 1.5em;
    }

    .purchase-card p {
      font-size: 0.8em;
    }

    /* Feedback Block */
    .feedback-card {
      width: 18em;
      margin-right: 1.5em;
    }

    .feedback-text {
      font-size: 0.9em;
      margin-top: 0.5em;
    }

    /* ------------------------ Footer ------------------------ */
    .accordion {
      width: 40em;
    }

    .accordion p {
      font-size: 0.9em;
    }
  }

  /* Desktop Screen Size Below 1370px */
  @media only screen and (max-width: 1370px) {
    :root {
      /* Padding */
      --xPadding: 3em;
    }

    .navbar {
      padding: 0.7em var(--xPadding);
    }

    .introduction-block,
    .purchase-content,
    .feedback-block,
    .faq-block {
      padding: 4em var(--xPadding);
    }

    /* ------------------------ Header ------------------------ */
    .nav-message > h5 {
      font-size: 0.6em;
    }

    .nav-brand > img {
      width: 7.5em;
    }

    .nav-links a {
      font-size: 0.8em;
    }

    .order-btn {
      font-size: 0.7em;
      padding: 0.7em 2em;
    }

    /* ------------------------ Main ------------------------ */
    /* Introduction Block */
    .introduction-content {
      column-gap: 40px;
    }

    .introduction-header > h1 {
      font-size: 2em;
    }

    .introduction-header > img {
      width: 5em;
    }

    .content:first-of-type > p {
      font-size: 0.9em;
    }

    .product-desc {
      padding: 0.9em;
      width: 40em;
      height: 8em;
    }

    .desc > h4 {
      font-size: 0.7em;
    }

    .desc li {
      font-size: 0.6em;
    }

    .get-product-btn {
      padding: 0.9em 3.5em;
      font-size: 1em;
    }

    .informational-message {
      font-size: 0.75em;
    }

    .intro-product {
      width: 60%;
    }

    .customer-review {
      padding: 0.6em 0.5em;
      width: 23em;
    }

    .customer-review > img {
      width: 3.5em;
      height: 3.5em;
      margin-right: 1em;
    }

    .review > p {
      font-size: 0.65em;
      width: 100%;
    }

    .marks > .stars {
      margin-right: 0.8em;
    }

    .marks > .stars img {
      width: 0.7em;
      height: 0.7em;
    }

    .marks > .stars p {
      font-size: 0.6em;
      margin-left: 0.4em;
    }

    .marks > .buyer-stats img {
      width: 0.8em;
      height: 0.8em;
    }

    .marks > .buyer-stats p {
      font-size: 0.7em;
      margin-left: 0.3em;
    }

    /* Purchase Product Block */
    .purchase-header {
      padding: 1em 0;
    }

    .purchase-header img {
      width: 70%;
      height: 70%;
    }

    .purchase-header h4 {
      font-size: 0.8em;
    }

    .purchase-header > div {
      margin: 0 1em;
    }

    .purchase-header > div > div {
      width: 2.5em;
      height: 2.5em;
      margin-right: 0.5em;
    }

    .purchase-content > h1 {
      font-size: 1.8em;
    }

    .purchase-product-cards {
      margin-top: 3em;
    }

    .purchase-card > * {
      margin: 0.2em 0;
    }

    .purchase-card-img {
      bottom: 2.5em;
      width: 70%;
      height: 6em;
      margin: 0;
    }

    .card-rounded-icon {
      top: 5em;
      width: 4em;
    }

    .purchase-card > h2 {
      font-size: 1.5em;
    }

    .purchase-card > h3 {
      font-size: 1.4em;
    }

    .purchase-card p {
      font-size: 0.8em;
    }

    .get-your-magic-btn {
      margin: 1em 0;
      font-size: 0.8em;
    }

    /* Feedback Block */
    .feedback-header > h1 {
      font-size: 1.8em;
    }

    .feedback-total {
      margin: 1.5em 0;
    }

    .write-review-btn {
      padding: 0.4em 1em;
      font-size: 0.9em;
    }

    .feedback-total > .stars img {
      width: 1em;
      height: 1em;
    }

    .feedback-total > .stars p {
      margin-left: 0.6em;
      font-size: 0.9em;
    }

    .feedback-card {
      width: 17em;
      margin-right: 1.5em;
    }

    .feedback-card-body {
      padding: 0.5em 0.7em;
    }

    .feedback-stats > .stars img {
      width: 0.75em;
      height: 0.75em;
    }

    .feedback-stats > .stars p {
      font-size: 0.65em;
    }

    .feedback-stats > .buyer-stats img {
      width: 1em;
      height: 1em;
    }

    .feedback-stats > .buyer-stats p {
      font-size: 0.75em;
      margin-left: 0.4em;
    }

    .feedback-text {
      font-size: 0.8em;
      margin-top: 0.5em;
    }

    /* ------------------------ Footer ------------------------ */
    .faq-header > h1 {
      font-size: 1.8em;
    }

    .faq-content {
      height: 22em;
      margin-top: 2em;
    }

    .faq-img img {
      width: 25em;
      height: 18em;
    }

    .faq-accordion {
      margin-left: 3em;
    }

    .faq-accordion > div > * {
      margin-bottom: 0.8em;
    }

    .accordion-header,
    .activate-accordion .accordion-content {
      padding: 1em;
    }

    .accordion {
      width: 38em;
    }

    .faq-accordion p {
      font-size: 0.8em;
    }
  }

  /* Desktop Screen Size Below 1272px */
  @media only screen and (max-width: 1272px) {
    /* ------------------------ Main ------------------------ */
    /* Purchase Product Block */
    .purchase-card {
      width: 19em;
      margin-right: 1.5em;
    }

    .purchase-card p {
      font-size: 0.7em;
    }

    /* Feedback Block */
    .feedback-card {
      width: 15.5em;
      margin-right: 1.3em;
    }
  }

  /* Desktop Screen Size Below 1200px */
  @media only screen and (max-width: 1200px) {
    /* ------------------------ Main ------------------------ */
    /* Introduction Block */
    .intro-product {
      width: 55%;
    }

    .product-desc {
      padding: 0.8em;
      width: 35em;
      height: 6.5em;
    }

    .desc img {
      width: 1.8em;
      height: 1.8em;
    }

    .desc > h4 {
      font-size: 0.65em;
    }

    .desc li {
      font-size: 0.5em;
    }

    .desc-border {
      height: 6em;
      margin: 0 1.5em;
    }
  }

  /* Desktop Screen Size Below 1160px */
  @media only screen and (max-width: 1160px) {
    /* ------------------------ Main ------------------------ */
    /* Introduction Block */
    .customer-review {
      padding: 0.3em 0.5em;
      width: 20em;
    }

    .customer-review > img {
      width: 3em;
      height: 3em;
      margin-right: 0.8em;
    }

    .review > p {
      font-size: 0.55em;
    }

    .marks > .stars {
      margin-right: 0.8em;
    }

    .marks > .stars p {
      font-size: 0.5em;
    }

    .marks > .buyer-stats p {
      font-size: 0.6em;
    }

    /* Purchase Product Block */
    .purchase-card {
      width: 18em;
      margin-right: 1.2em;
    }

    .purchase-card > h2 {
      font-size: 1.3em;
    }

    .purchase-card > h3 {
      font-size: 1.2em;
    }

    .purchase-card p {
      font-size: 0.65em;
    }

    /* Feedback Block */
    .feedback-card {
      width: 15em;
      margin-right: 1em;
    }

    /* ------------------------ Footer ------------------------ */
    .faq-content {
      height: 20em;
    }

    .accordion {
      width: 33em;
    }
  }

  /* Desktop Screen Size Below 1111px */
  @media only screen and (max-width: 1111px) {
    /* ------------------------ Main ------------------------ */
    /* Introduction Block */
    .product-desc {
      padding: 0.9em;
      width: 33em;
      height: 6.5em;
    }

    /* Purchase Product Block */
    .purchase-header h4 {
      font-size: 0.7em;
    }

    .purchase-header > div {
      margin: 0 0.8em;
    }

    .purchase-header > div > div {
      width: 2em;
      height: 2em;
    }

    .purchase-card {
      margin-right: 2em;
      margin-bottom: 2em;
    }

    .purchase-card:nth-of-type(2) {
      margin-right: 0;
    }

    .purchase-card:last-of-type {
      margin: 0;
    }

    /* Feedback Block */
    .feedback-card {
      margin-right: 2em;
      margin-bottom: 2em;
    }

    .feedback-card:nth-of-type(3) {
      margin-right: 0;
    }

    .feedback-card:last-of-type {
      margin: 0;
    }

    /* ------------------------ Footer ------------------------ */
    .faq-img img {
      width: 20em;
      height: 15em;
    }

    .accordion {
      width: 30em;
    }
  }
}
